/**************************Navbar*******************************/
  
.navbarStyle {
    position: fixed;
    top: 0;
    left: 0;
    background-color:#774b42;
    color: #fff;
    z-index: 1030;
  }
  
.navbarContainer ul {
      list-style: none;
      margin: 0;
      padding: 0;
}
    
.navbarItemdecoration {
    display: inline-block;
    margin-right: 20px;
}
    
.navbarOptions {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff
}

/**************************Main*******************************/

h1 {
    text-align: center;
    margin-top: 1rem;
}

.mainUbication {
    width: 90%;
    height: 75%;
}

/**************************Footer*******************************/

/**************************Footer*******************************/

ul li {
    list-style: none;
}
    
.footerGeneral {
    color: antiquewhite;
}
    
.footerTitle {
    color: red;
    font-size: 2rem;
}
    
.aboutus {
    font-size: 30px;
    color: antiquewhite;
    text-decoration: none;
    border-bottom: 2px solid gray;
    display: inline-block;
}
    
.aboutus:hover {
    color: red;
}
    
.footerList:hover {
    background-color: lightslategray;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    width: fit-content;
    color: black;
    cursor: pointer;
}
    
.logo {
    border-radius: 50%;
    width: 80%;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-left: 2rem;
}
   
.copy {
    /* border-bottom: 2px solid gray; */
    padding-top: 10px;
    display: inline-block;
}